<div class="container">
    
Name	Type	Default value	Computed value
Name	Type	Default value	Computed value
$navbar-background-color	color	$white	hsl(0, 0%, 100%)
$navbar-box-shadow-size	size	0 2px 0 0	
$navbar-box-shadow-color	color	$background	hsl(0, 0%, 96%)
$navbar-height	size	3.25rem	
$navbar-padding-vertical	size	1rem	
$navbar-padding-horizontal	size	2rem	
$navbar-z	string	30	
$navbar-fixed-z	string	30	
$navbar-item-color	color	$grey-dark	hsl(0, 0%, 29%)
$navbar-item-hover-color	color	$link	hsl(217, 71%, 53%)
$navbar-item-hover-background-color	color	$white-bis	hsl(0, 0%, 98%)
$navbar-item-active-color	color	$black	hsl(0, 0%, 4%)
$navbar-item-active-background-color	string	transparent	
$navbar-item-img-max-height	size	1.75rem	
$navbar-burger-color	variable	$navbar-item-color	
$navbar-tab-hover-background-color	string	transparent	
$navbar-tab-hover-border-bottom-color	color	$link	hsl(217, 71%, 53%)
$navbar-tab-active-color	color	$link	hsl(217, 71%, 53%)
$navbar-tab-active-background-color	string	transparent	
$navbar-tab-active-border-bottom-color	color	$link	hsl(217, 71%, 53%)
$navbar-tab-active-border-bottom-style	string	solid	
$navbar-tab-active-border-bottom-width	size	3px	
$navbar-dropdown-background-color	color	$white	hsl(0, 0%, 100%)
$navbar-dropdown-border-top	size	2px solid $border	
$navbar-dropdown-offset	size	-4px	
$navbar-dropdown-arrow	color	$link	hsl(217, 71%, 53%)
$navbar-dropdown-radius	size	$radius-large	6px
$navbar-dropdown-z	string	20	
$navbar-dropdown-boxed-radius	size	$radius-large	6px
$navbar-dropdown-boxed-shadow	size	0 8px 8px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1)	
$navbar-dropdown-item-hover-color	color	$black	hsl(0, 0%, 4%)
$navbar-dropdown-item-hover-background-color	color	$background	hsl(0, 0%, 96%)
$navbar-dropdown-item-active-color	color	$link	hsl(217, 71%, 53%)
$navbar-dropdown-item-active-background-color	color	$background	hsl(0, 0%, 96%)
$navbar-divider-background-color	color	$background	hsl(0, 0%, 96%)
$navbar-divider-height	size	2px	
$navbar-bottom-box-shadow-size	size	0 -2px 0 0	
$navbar-breakpoint	computed	$desktop	960px + (2 * $gap)
← Modal
Pagination →
 Made with Bulma 
This page is open source. Noticed a typo? Or something unclear? 
Improve this page on GitHub

Overview
Customize New!
Modifiers
Columns
Layout
Form
Elements
Components
Breadcrumb
Card
Dropdown
Menu
Message
Modal
Navbar
Pagination
Panel
Tabs
Sponsor

Tipe
My CSS ebook

CSS in 44 minutes book cover
On this page

Basic Navbar
Navbar brand
Navbar burger
Navbar menu
Navbar start and navbar end
Navbar item
Transparent navbar
Fixed navbar
Dropdown menu
Colors
Variables
Back to top
Support Bulma 😃
One-time donation

PayPal – The safer, easier way to pay online.
Visit our Sponsor

Yakaz logo
Monthly donation

Become a Patron
The official Bulma book cover
New!
The official Bulma book! 😲
by Jeremy Thomas, creator of Bulma, Oleksii Potiekhin,
Mikko Lauhakari, Aslam Shah and David Berning

A step-by-step guide that teaches you how to build a web interface from scratch using Bulma.

Formats available:
PDF
Epub
Mobi
or
Kindle
Or download a free sample !
Newsletter

Features, releases, showcase… stay in the loop!

email address
 
Bulma by Jeremy Thomas.
@jgthms
Source code licensed MIT. 
Website content licensed CC BY-NC-SA 4.0
Contribute on GitHub

Share on social media
Tweet
Coming from Bootstrap
An alternative to Bootstrap


Expo
See what you can build with Bulma

Love
Fans of Bulma

Home

Blog

Automatic variables docs

Migrating to v0.7.0

Website redesign

Font Awesome 5

View all posts

Documentation

Overview

Customize

Modifiers

Columns

Layout

Form

Elements

Components

More

Expo
Official Bulma showcase
Love
Fans of Bulma around the world
Bulma start
A tiny npm package to get started
Made with Bulma
The official community badge
Coming from Bootstrap
See how Bulma is an alternative to Bootstrap
Patreon backers
Everyone who is supporting Bulma
Bulma extensions
Side projects to enhance Bulma
</div>