<div class="container">this is a message  you have an input which you sent here 
<div class="classMessage">
<div class="messageCanvas">
    <li> hello  </li>
</div>
<form>
    <input type="text" class="sendMessage"> <button> Submit </button>
</form>
</div>
</div>