<div class="container">this is a message  you have an input which you sent here 
<div class="classMessage">
<div class="messageCanvas">
    <li> hello  </li>
</div>
<%= form_tag("")%>
<form>
    <input type="text" name="message" class="sendMessage"> <button> Submit </button>
</form>
<% end %>
</div>
</div>