<div class = "container">
    <%= form_tag("/posts/create") do%>
        <form>
            <textarea type="text" name="content"  class="textarea" placeholder="new posts" rows="10"> </textarea>
            <button class="button"> Submit </button>
        </form>
    <% end %>
</div>