// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list{
    margin:5px;
    color:teal;
    background:white;
    min-height: 50px;
    padding: 20px;
    p{
        font-size: 25px;
    }
}
.notification .is-link{
    background: blue($color: #6e19dd34)
}